<!DOCTYPE html>
<html lang="es"> 
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Generador de Autómatas</title>
  <link rel="stylesheet" href="/proyecto 1.0/static/styles/styles.css" />
  <script type="text/javascript" src="https://unpkg.com/vis-network@9.0.0/dist/vis-network.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>Generador de Autómatas</h1>

    <label for="numAut">¿Cuántos autómatas deseas crear?</label>
    <input type="number" id="numAut" min="1" />
    <button id="crear">Crear Entradas</button>
    <button id="analizar">Automáticamente</button>

    <div id="automasGrid" class="automas-grid"></div>

    <!-- Tokenización -->
    <div class="token-container" style="margin-top: 30px;">
      <button id="tokenizar">Tokenizar</button>
      <div id="tabla-token" class="token-table-container" style="margin-top: 10px;"></div>
      <button id="guardar-token" style="margin-top: 10px;">Guardar cadena y token</button>
      <button id="ver-tokens" style="margin-top: 10px;">Ver tokens guardados</button>
      <div id="mensaje" class="alert"></div>


      <!-- Modal para tokens -->
      <div id="modal-tokens" class="modal">
        <div class="modal-content">
          <span class="close-tokens">&times;</span>
          <div id="tabla-tokens-guardados" style="max-height: 300px; overflow-y: auto;"></div>
        </div>
      </div>
    </div>

 

  <!-- Modal para mostrar autómata -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div id="graph-container" style="height: 400px;"></div>
    </div>
  </div>
   <!-- Analizador léxico -->
   <div class="container">
    <h1>Analizador Léxico</h1>

    <div class="analizador-container">
      <h2>Analizar Cadena</h2>
      <label for="inputCadena">Cadena a analizar:</label>
      <input type="text" id="inputCadena" class="entrada-cadena" placeholder="Ingresa tu cadena..." />
      <button onclick="analizarCadena()">Analizar Cadena</button>

      <h3>Resultado del análisis:</h3>
      <table id="tablaResultado" class="resultado-tabla" border="1">
        <thead>
          <tr>
            <th>Lexema</th>
            <th>Token</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <script src="/proyecto 1.0/static/scripts/script.js"></script>
</body>
</html>
